<div class="row">

    <article class="col-xs-12 col-sm-12">

        <p class="blu">

            {{i18n 'The solution to your problems has arrived.'}} <br>
            {{i18n 'The Chose! arrives to facilitate the election'}} <br>
            {{i18n 'to set up a meeting, that will be'}} <br>
            {{i18n 'easier to organize meetings with more'}} <br>
            {{i18n 'than two people involved.'}} <br>
            {{i18n 'Do not doubt and be encouraged to try!'}} <br> 

        </p>
        <br>

        <table>

        <thead>

            <tr class="first">

            <th scope="col" rowspan="2"></th>
            <th scope="col" colspan="2">{{i18n 'MON'}} <br> 22 <br>{{i18n 'OCT'}} </th>
            <th scope="col" colspan="2">{{i18n 'TUE'}} <br> 23 <br> {{i18n 'OCT'}}</th>
            <th class="hidden-xs" scope="col" colspan="2">{{i18n 'WED'}} <br> 24 <br> {{i18n 'OCT'}}</th>
            <th class="hidden-xs" scope="col" colspan="2">{{i18n 'THU'}} <br> 25 <br> {{i18n 'OCT'}}</th>

            </tr>

            <tr class="second">

            <th scope="col">16:00 <br> - <br> 17:00</th>
            <th scope="col">17:00 <br> - <br> 18:00</th>
            <th scope="col">16:00 <br> - <br> 17:00</th>
            <th scope="col">17:00 <br> - <br> 18:00</th>
            <th class="hidden-xs" scope="col">16:00 <br> - <br> 17:00</th>
            <th class="hidden-xs" scope="col">17:00 <br> - <br> 18:00</th>
            <th class="hidden-xs" scope="col">16:00 <br> - <br> 17:00</th>
            <th class="hidden-xs" scope="col">17:00 <br> - <br> 18:00</th>

            </tr>

        </thead>

        <tbody>

            <tr>

            <th scope="row">Chris Hemsworth</th>
            <td><input type="image" value="1" src="././css/img/smile.png"></td>
            <td></td>
            <td></td>
            <td><input type="image" value="1" src="././css/img/smileall.png"></td>
            <td class="hidden-xs"></td>
            <td class="hidden-xs"></td>
            <td class="hidden-xs"><input type="image" value="1" src="././css/img/smile.png"></td>
            <td class="hidden-xs"></td>

            </tr>

            <tr>

            <th scope="row">Robert Downey Jr.</th>
            <td></td>
            <td><input type="image" value="1" src="././css/img/smile.png"></td>
            <td><input type="image" value="1" src="././css/img/smile.png"></td>
            <td><input type="image" value="1" src="././css/img/smileall.png"></td>
            <td class="hidden-xs"></td>
            <td class="hidden-xs"></td>
            <td class="hidden-xs"></td>
            <td class="hidden-xs"></td>

            </tr>

            <tr class="last">

            <th scope="row">Chris Evans</th>
            <td></td>
            <td></td>
            <td></td>
            <td><input type="image" value="1" src="././css/img/smileall.png"></td>
            <td class="hidden-xs"></td>
            <td class="hidden-xs"><input type="image" value="1" src="././css/img/smile.png"></td>
            <td class="hidden-xs"></td>
            <td class="hidden-xs"><input type="image" value="1" src="././css/img/smile.png"></td>

            </tr>

        </tbody>

        </table>
        <br><br>

    </article>

</div>